# Compiled Object files
*.slo
*.lo
*.o
CMSCoffee.app
CMSCoffee.pro.user

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

.qmake.stash

.qmake.cache


debug
object_script.CMSCoffee.Debug
object_script.CMSCoffee.Release
Makefile.Release
Makefile.Debug
Makefile
